body {
    text-align: center;
}

#grid {
    width: 150px;
    height: 150px;
}

h2 {
    text-align: center;
}

#grid1{
    width: 150px;
    height: 150px;
}

#grid2{
    width: 150px;
    height: 150px;
}
#grid3{
 width: 150px;
    height:150px;}
#grid4{
 width: 150px;
    height:150px;}
#grid5{
 width: 150px;
    height:150px;}
#grid6{
 width: 150px;
    height:150px;}
#grid7{
 width: 150px;
    height:150px;}